.nav{
    /* background:#eb4034; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    color:whitesmoke;
    /* background-color: #f44322; */
    /* color: #f26333; */
    box-sizing: border-box;
    position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; 
    opacity:1 ;
}
.scrolled{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    /* color:whitesmoke; */
    background-color: whitesmoke;
    color: #f44322;
    box-sizing: border-box;
    position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; 
    opacity:1 ;
}

.nav-right{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    justify-content: flex-end;
    width: 45%;
}
.nav-left{
    display: flex;
    width: 55%;
    justify-content: flex-end;
    font-size: 1.2rem;
}

.scrolled-left{
    display: flex;
    width: 55%;
    justify-content: flex-start;
    font-size: 1.2rem;
}

/* button{
    padding: 10px 18px;
    border-radius: 50px;
    
}
button:hover{
        background-color:black;
        color: white;
    
} */
.signIn{
    /* background-color: #f26333; */
    /* color:white; */
    padding: 10px 18px;
    border-radius: 50px;
    border-style: hidden;
    font-size: large;
    font-weight: bold;   
}

.signIn:hover{
    background-color:black;
    color: white;
}

.signUp{
    /* background-color: #eb2121;
    color:white; */
       padding: 10px 18px;
    border-radius: 50px;
    border-style: hidden;
    font-size: large;
    font-weight: bold;   
}

.signUp:hover{
    background-color:black;
    color: white;
}

.profile-btn{
    all: unset;
    border-radius: 50%;
}
.profile-btn :focus{
    outline: revert;
}





